In [1]:
import numpy as np
import pandas as pd
import networkx as nx
import seaborn as sns

import os

from pathlib import Path
import matplotlib.pyplot as plt
import matplotlib.patches as patches

seed = 0
np.random.seed(seed)

In [3]:
#Path to the target csv file. This notebook should be in the same folder as the csv-data file

path = os.getcwd()
print(path)

/Users/fmd/Desktop/USI/Semester_4/Data_Analytics

In [8]:
#convert the data to a pandas dataframe. 
data = pd.read_csv(path+'/11_Autonomous_Systems.csv',index_col=0)
print(data)

                Zeus  Hera  Poseidon  Demeter  Athena  Apollo  Artemis  Ares  \
ComputerNumber
1                  0     0         0        0       1       0        0     0
2                  0     0         0        0       1       0        0     0
3                  0     0         0        1       0       0        0     0
4                  0     0         0        1       0       0        0     0
5                  0     0         0        0       1       0        0     0
...              ...   ...       ...      ...     ...     ...      ...   ...
149                0     0         0        0       1       0        0     1
150                0     0         0        0       0       0        0     0
151                0     0         0        0       1       0        0     1
152                0     0         0        0       1       0        0     1
153                1     0         0        0       0       0        0     0

                Aphrodite  Hephaestus  ...  Hestia  Dionysus  Granite   Mica  \
ComputerNumber                         ...
1                       0           0  ...       1         0        0      0
2                       0           0  ...       1         0        0      1
3                       0           0  ...       0         0        1      0
4                       0           1  ...       0         0        1      0
5                       0           1  ...       0         0        1      0
...                   ...         ...  ...     ...       ...      ...    ...
149                     0           0  ...       0         0        1      0
150                     0           0  ...       0         0        0      0
151                     0           0  ...       0         0        1      0
152                     0           1  ...       0         0        1      0
153                     1           0  ...       0         0        0      0

                 Shale   Quartz   Ruby   Atlas   Ryoken   Vulture
ComputerNumber
1                    0        0      0       0        0         0
2                    0        0      0       0        0         0
3                    0        0      0       0        0         0
4                    0        0      0       0        1         1
5                    0        0      0       0        0         1
...                ...      ...    ...     ...      ...       ...
149                  0        0      0       0        0         1
150                  0        0      0       0        0         0
151                  0        0      0       0        0         0
152                  0        0      0       0        0         0
153                  0        0      0       0        0         0

[153 rows x 21 columns]

In [13]:
#Check that there aren't any missing values in the dataset
check=data.isnull().any().sum()
if check == 0:
    print('There are no missing values in the dataset')
else:
    print('There are missing values in the dataset')

There are no missing values in the dataset

In [15]:
#Check that all values are binary
check = data.columns[data.isin([0,1]).all()]
if len(check) == data.shape[1]:
    print('All values in the columns are binary')

All values in the columns are binary

In [ ]:
#After printing the data we can notice there are 153 rows and 21 columns. The index represent
#the computers labeled as numbers and the columns are titled after greek goods and have binary values.

#We can infer that the 21 columns represent the servers that computers can connect to. The value one (1)
#represents a connection and conversely, the value zero (0) shows no connection with the server. 

#From here we can 
#also infer that a computer can only be connected with a server and a server can only be connected with a computer.

In [53]:
#construncting the dataframe
col_name=[]
for column_headers in data.columns:
    col_name.append(column_headers)

weighted_edge_list=[]
for i in col_name:
    row=[]
    for j in col_name:
        a=data.loc[:,i][data[i]==1]
        b=data.loc[:,j][data[j]==1]
        array1 = a.index.to_numpy()
        array2 = b.index.to_numpy()
        inter= list(set(array1) & set(array2))
        row.append(len(inter))
        
    weighted_edge_list.append(row)

print(weighted_edge_list)
edge_list=np.array(weighted_edge_list)
print(edge_list.shape)

[[23, 0, 1, 0, 4, 4, 2, 4, 12, 2, 0, 2, 3, 11, 1, 4, 3, 9, 4, 4, 5], [0, 8, 0, 0, 6, 0, 0, 5, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 0, 0, 0], [1, 0, 9, 0, 1, 6, 0, 3, 1, 0, 0, 0, 0, 8, 0, 2, 0, 0, 2, 1, 0], [0, 0, 0, 10, 1, 0, 0, 1, 0, 2, 7, 0, 1, 9, 0, 0, 1, 0, 0, 1, 2], [4, 6, 1, 1, 52, 5, 2, 33, 0, 6, 1, 5, 5, 21, 6, 1, 4, 0, 1, 4, 3], [4, 0, 6, 0, 5, 17, 2, 5, 2, 2, 0, 0, 0, 14, 0, 2, 1, 1, 2, 3, 3], [2, 0, 0, 0, 2, 2, 10, 2, 2, 0, 0, 0, 0, 2, 0, 1, 2, 2, 1, 1, 2], [4, 5, 3, 1, 33, 5, 2, 46, 1, 4, 1, 1, 4, 19, 2, 3, 4, 1, 3, 4, 4], [12, 0, 1, 0, 0, 2, 2, 1, 17, 1, 0, 2, 2, 6, 1, 0, 2, 11, 0, 5, 2], [2, 0, 0, 2, 6, 2, 0, 4, 1, 20, 3, 0, 0, 14, 1, 0, 1, 0, 0, 4, 4], [0, 0, 0, 7, 1, 0, 0, 1, 0, 3, 8, 0, 0, 7, 0, 0, 1, 0, 0, 1, 2], [2, 0, 0, 0, 5, 0, 0, 1, 2, 0, 0, 11, 4, 0, 4, 0, 0, 2, 0, 0, 0], [3, 0, 0, 1, 5, 0, 0, 4, 2, 0, 0, 4, 11, 0, 4, 0, 0, 3, 0, 0, 0], [11, 3, 8, 9, 21, 14, 2, 19, 6, 14, 7, 0, 0, 69, 0, 5, 9, 3, 5, 7, 14], [1, 1, 0, 0, 6, 0, 0, 2, 1, 1, 0, 4, 4, 0, 12, 0, 0, 2, 0, 0, 0], [4, 0, 2, 0, 1, 2, 1, 3, 0, 0, 0, 0, 0, 5, 0, 8, 2, 0, 8, 1, 2], [3, 0, 0, 1, 4, 1, 2, 4, 2, 1, 1, 0, 0, 9, 0, 2, 16, 1, 2, 1, 4], [9, 0, 0, 0, 0, 1, 2, 1, 11, 0, 0, 2, 3, 3, 2, 0, 1, 12, 0, 2, 0], [4, 0, 2, 0, 1, 2, 1, 3, 0, 0, 0, 0, 0, 5, 0, 8, 2, 0, 8, 1, 2], [4, 0, 1, 1, 4, 3, 1, 4, 5, 4, 1, 0, 0, 7, 0, 1, 1, 2, 1, 16, 3], [5, 0, 0, 2, 3, 3, 2, 4, 2, 4, 2, 0, 0, 14, 0, 2, 4, 0, 2, 3, 17]]
(21, 21)

In [9]:
data.describe()

,Zeus,Hera,Poseidon,Demeter,Athena,Apollo,Artemis,Ares,Aphrodite,Hephaestus,...,Hestia,Dionysus,Granite,Mica,Shale,Quartz,Ruby,Atlas,Ryoken,Vulture
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,...,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,0.150327,0.052288,0.058824,0.065359,0.339869,0.111111,0.065359,0.300654,0.111111,0.130719,...,0.071895,0.071895,0.450980,0.078431,0.052288,0.104575,0.078431,0.052288,0.104575,0.111111
std,0.358565,0.223337,0.236067,0.247971,0.475220,0.315302,0.247971,0.460048,0.315302,0.338200,...,0.259163,0.259163,0.499225,0.269732,0.223337,0.307010,0.269732,0.223337,0.307010,0.315302
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
heapMapCorrFeature = data.corr()
#print(heapMapCorrFeature)
print(type(heapMapCorrFeature))


aa=heapMapCorrFeature.values.tolist()

print(argmin(heapMapCorrFeature))

<class 'pandas.core.frame.DataFrame'>

NameError: name 'argmin' is not defined

In [35]:
a=data.loc[:,'Hestia'][data['Hestia']==1]

print(a)
print(len(a))

array1 = a.index.to_numpy()
print(array1)

ComputerNumber
1     1
2     1
23    1
24    1
27    1
32    1
39    1
40    1
44    1
45    1
58    1
Name: Hestia, dtype: int64
11
[ 1  2 23 24 27 32 39 40 44 45 58]

In [36]:
a=data.loc[:,'Granite'][data['Granite']==1]

print(a)
print(len(a))

b=a.to_frame(name='ComputerNumber')
array2 = a.index.to_numpy()
print(array2)

ComputerNumber
3      1
4      1
5      1
6      1
7      1
      ..
146    1
147    1
149    1
151    1
152    1
Name: Granite, Length: 69, dtype: int64
69
[  3   4   5   6   7   8   9  10  12  19  21  22  25  28  30  33  35  36
  41  42  55  64  67  68  73  74  75  77  78  82  84  85  91  92  94  95
 100 101 102 105 108 109 110 112 113 114 117 118 119 120 121 122 126 128
 129 131 136 137 138 140 141 142 143 145 146 147 149 151 152]

In [ ]:
array1=set()